<a href="https://colab.research.google.com/github/gkondayya/ACP2021/blob/main/yahoofinance1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yfinance

In [ ]:
import datetime as dt
import yfinance as yf
import pandas as pd

# stocks = ["AMZN","MSFT","INTC","GOOG","INFY.NS","3988.HK"]
stocks = ["RELIANCE.NS","IRCTC.NS", "HDFCBANK.NS","INFY.NS","AMBER.NS", "BAJFINANCE.NS"]

start = dt.datetime.today()-dt.timedelta(360)
end = dt.datetime.today()
cl_price = pd.DataFrame() # empty dataframe which will be filled with closing prices of each stock
ohlcv_data = {} # empty dictionary which will be filled with ohlcv dataframe for each ticker

# looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]
    
cl_price.head()
# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in stocks:
    ohlcv_data[ticker] = yf.download(ticker,start,end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
cl_price.tail()

            RELIANCE.NS    IRCTC.NS  ...     AMBER.NS  BAJFINANCE.NS
Date                                 ...
2021-12-14  2380.149902  855.049988  ...  3231.300049    7065.899902
2021-12-15  2373.199951  851.200012  ...  3328.350098    6847.250000
2021-12-16  2403.899902  852.150024  ...  3432.000000    7028.850098
2021-12-17  2340.449951  832.400024  ...  3390.449951    6901.100098
2021-12-20  2256.649902  792.400024  ...  3265.050049    6527.450195

[5 rows x 6 columns]